<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .alert{color:red;}
        .form__group{margin: 10px 0;}
        .form__group input{width: 250px; height: 50px; border-radius: 30px}
        .myclass{color:purple;}
        .help{}
    </style>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form__group">
            {% for field in form %}
                <p>{{ field.label }}</p>
                <div>{{ field }}</div>
                {{ field.css_classes }}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="alert">{{error}}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

        </div>
        <button>Send</button>
    </form>
    <hr>
</body>
</html>